{% extends '../base.html' %}

{% block content %}


<div class="container">
    <form method="POST" action="{% url 'buy_post' %}">
{%for c in cart %}
    
        <ul>
            <li>商品番号：{{c.product_num}}</li>
            <li>商品：{{c.name}}</li>
            <li>値段：{{c.price}}円</li>
            <li>個数：{{c.count}}</li>
        </ul>
        <div class="editor">
            <a href="{% url 'cart_edit' c.id %}">編集</a>
            <a href="{% url 'cart_delete' c.id %}">削除</a>
          </div>

    <p>=====================================</p>

   
        {% csrf_token %}
        <input type="hidden" name="product_num" value="{{ c.product_num }}">
        <input type="hidden" name="name" value="{{ c.name }}">
        <input type="hidden" name="price" value="{{ c.price }}">
        <input type="hidden" name="count" value="{{ c.count }}">
        {% if forloop.last %}
            <input type="submit" value="購入ページへ">
        {%endif%}
    
{%endfor%}
    </form>
    



<!-- <a href="{% url 'buy_list' %}">購入ページへ</a> -->

</div>

{% endblock %}