{% extends '../base.html' %}

{% block content %}



{%for c in cart %}
    
        <ul>
            <li>商品：{{c.name}}</li>
            <li>値段：{{c.price}}円</li>
            <li>個数：{{c.count}}</li>
        </ul>
    <form method="post">    
        {% csrf_token %}
        <input type="hidden" name="product_num" value="{{ c.product_num }}">
        <input type="hidden" name="name" value="{{ c.name }}">
        <input type="hidden" name="price" value="{{ c.price }}">
        <p>購入数量:</p><input type="text" name="count">
        <input type="submit" value="変更">
    </form>

<p>=====================================</p>
{%endfor%}

<a href="{% url 'buy_list' %}">購入ページへ</a>



{% endblock %}