{% extends '../base.html' %}

{% block content %}


<div class="container">
{%for c in cart %}
    
        <ul>
            <li>商品番号：{{c.product_num}}</li>
            <li>商品：{{c.name}}</li>
            <li>値段：{{c.price}}円</li>
            <li>個数：{{c.count}}</li>
        </ul>
    <form method="post" action="{% url 'cart_edit' c.id %}">    
        {% csrf_token %}
        <input type="hidden" name="product_num" value="{{ c.product_num }}">
        <input type="hidden" name="name" value="{{ c.name }}">
        <input type="hidden" name="price" value="{{ c.price }}">
        <p>購入数量:</p><input type="text" name="count">
        <input type="submit" value="変更">
    </form>

    <form action="{% url 'cart_delete' c.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="削除">
    </form>

    <p>=====================================</p>

    <form method="POST" action="{% url 'buy_list' %}">
        {% csrf_token %}
        <input type="hidden" name="product_num" value="{{ c.product_num }}">
        <input type="hidden" name="name" value="{{ c.name }}">
        <input type="hidden" name="price" value="{{ c.price }}">
        <input type="hidden" name="count" value="{{ c.count }}">
        {% if forloop.last %}
        <input type="submit" value="購入ページへ">
        {%endif%}
    </form>
{%endfor%}
    



<!-- <a href="{% url 'buy_list' %}">購入ページへ</a> -->

</div>

{% endblock %}