.login-box{
    text-align:center;
    width: 600px;
    padding: 40px;
    margin: 30px auto;
    border: 1px solid #555;
    background-color: blanchedalmond;
}

.login-logo{
    padding-top: 15px;
    padding-bottom: 10px;
}

.col-xs-4{
    padding-top: 10px;
}

.btn{
    padding: 8px 24px;
    color:black;
    display: inline-block;
    opacity: 0.8;
    border-radius:4px;
}

.btn:hover {
    opacity: 1;
}

.login-page{
    background-image: url("/static/image/unnamed.png");
    background-size: cover;
}

