{% extends '../base.html' %}

{% block content %}
<div class=container>
    <br>{{propro}}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <!-- <p>カテゴリー名:
            <select name="category">
            {%for cate in category%}
            <option value="{{ cate.id }}">
                {{ cate.name }}
            </option>
            {%endfor%}
            </select>
        </p>
        <p>名前:</p><input type="text" name="name">
        <p>価格:</p><input type="text" name="price">
        <p>数量:</p><input type="text" name="count"><br> -->
        <input type="submit" value="登録">
        
    </form>
</div>
{%endblock%}