{% extends '../base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\detail_style.css' %}" type="text/css">
<div class=container>
  <div class=product>
    <h1>商品詳細</h1>
    <div class="product_style">
      <h3>{{ product.name }}</h3>
      <img src="{{product.image.url}}" alt="">
    </div>
    
    <div class="detail_style">
      <p>価格：{{ product.price }}円</p><br>
      <p>在庫：{{ product.count }}個</p><br>
      <form method="post" action="{% url 'cart_add' product.id %}">
        {% csrf_token %}
        <input type="hidden" name="product_num" value="{{ product.id }}">
        <input type="hidden" name="name" value="{{ product.name }}">
        <input type="hidden" name="price" value="{{ product.price }}">
        <p>購入数量:</p><input type="text" name="count">
        <input type="submit" value="カートに追加">
      </form>
    </div>

  </div>
  
  <div class="editor">
    <a href="{% url 'product_edit' product.id %}">編集</a>
    <a href="{% url 'product_delete' product.id %}">削除</a>
  </div>
  

  
</div>
{% endblock content %}