{% extends '../base.html' %}

{% block content %}

<div class="container">
<form method="POST" action="{% url 'buy_action' %}">
{%for b in buy %}
    {%if b.buy_flag == False%}
        <ul>
            {{b.product_num}}
            <li>商品：{{b.name}}</li>
            <!-- <li>値段：{{b.price}}円</li> -->
            <li>個数：{{b.count}}</li>
            <li>商品の小計：{{b.total_price}}円</li>
        </ul>
<p>=====================================</p>
    {%endif%}
    
        {% csrf_token %}
        <input type="hidden" name="product_num" value="{{ b.product_num }}">
        <input type="hidden" name="name" value="{{ b.name }}">
        <input type="hidden" name="price" value="{{ b.price }}">
        <input type="hidden" name="count" value="{{ b.count }}">
        {% if forloop.last %}
        <input type="submit" value="購入">
        {%endif%}
    
{%endfor%}
</form>
<p>商品件数：{{kensu}}</p>
<p>送料：</p>
<p>ご請求額：{{money}}</p>
</div>

{% endblock %}